h1{
    text-align: center;
}
.i1{
    text-align:center;
}
.i2{
    margin-bottom: 100px;
    margin-left: 250px;
    margin-right: 250px;
}
.i3{
    margin-left:250px ;
    margin-right: 250px;
}
html{
    background-color:rgb(82, 220, 174) ;
}
.i4{
    background-color:rgb(14, 14, 31);
    
}
.h1{
    background-color: rgb(231, 117, 35);
    border-radius: 80px;
    width:100px;
    height:50px
}